<router-outlet></router-outlet>
<body>
  <div>
    <mat-toolbar color="primary">
      <span>My Application</span>
    </mat-toolbar>
  </div>
  <br>
  <div class="flex">
    <mat-card class="card">
      <mat-card-title>Form</mat-card-title>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <mat-form-field appearance="fill">
            <mat-label>Enter your name</mat-label>
            <input matInput [formControl] = "formGroup.controls.name"/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Enter your e-mail</mat-label>
            <input matInput  [formControl] = "formGroup.controls.email"/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Select gender</mat-label>
            <mat-select  [formControl] = "formGroup.controls.gender">
              <mat-option value="female">Female</mat-option>
              <mat-option value="male">Male</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <div>
            <mat-form-field hintLabel="Min 8 characters" appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput #password [type]="hide ? 'password' : 'text'" [formControl] = "formGroup.controls.password">
              <button mat-icon-button color="accent" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint align="end">{{password.value?.length || 0}}</mat-hint>
            </mat-form-field>
          </div>
          <br>
          <mat-form-field appearance="fill" [color]="formGroup.controls.color.value">
            <mat-label>Color</mat-label>
            <mat-select  [formControl] = "formGroup.controls.color">
              <mat-option value="primary">Primary</mat-option>
              <mat-option value="accent">Accent</mat-option>
              <mat-option value="warn">Warn</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </mat-card-actions>
    </mat-card>
    <div class="overlay" *ngIf="spinner">
      <mat-spinner class="center" *ngIf="spinner"></mat-spinner>
    </div>
  </div>
</body>
