
@import '~@angular/material/theming';
@include mat-core();

$dark-primary: mat-palette($mat-light-blue, 800);
$dark-accent:  mat-palette($mat-light-blue, 600);
$dark-warn:    mat-palette($mat-red, 300);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

@include angular-material-theme($dark-theme);

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.card {
  max-width: 400px;
}
.flex {
  display: flex;
  justify-content: center;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.overlay{
  height: 100vh;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}
.mat-raised-button {
  color: mat-color($dark-primary);
}
.good-snackbar button{
  color: mat-color($dark-primary);
}
.warning-snackbar, .warning-snackbar button {
  background-color: mat-color($dark-warn);
}



